<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/about.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
        integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <title>A Brief Introduction</title>
</head>

<body>
    <header class="site-header">
        <div class="container">
            <img src="/static/img/Headshot.jpg" alt="Todd's Headshot">
            <h1>Todd W. Mickel</h1>
            <p>Family Man, Pilot, Programmer</p>
            <br>
            <i class="fas fa-child" id="adult"></i>
            <i class="fas fa-child" id="adult"></i>
            <i class="fas fa-child" id="child"></i>
            <i class="fas fa-child" id="child"></i>
            <i class="fas fa-child" id="child"></i>
            <i class="fas fa-child" id="child"></i>
            &nbsp;
            <i id="bullet">&cir;</i>
            &nbsp;
            <i class="fas fa-plane"></i>
            &nbsp;
            <i id="bullet">&cir;</i>
            &nbsp;
            <i class="fas fa-laptop-code"></i>
        </div>
    </header>


    <main class="container">
        <h3>My background</h3>

        <p><b>Thank you</b> for taking a moment to read a little bit about me. In August 2020, I retired from the Air
            Force after 25 years as a Security Forces member, recruiter, OSI agent, and pilot. I'm now a Smokejumper
            Pilot with the US Forest Service out of Missoula, MT, where I live with my wife and four amazing kids. I've
            always been interested in technology and have worked with computers since I was 9 years old. Although my Air
            Force career did not allow me to pursue my passion for technology, I maintained proficiency by building my
            own computers, getting a Bachelors degree in Computer and Informaion Sciences, and getting an MBA with a
            certificate in Business Data Mining, primarily using SAS.</p>

        <h3>What's next?</h3>

        <p>At this point in my life, I'm ready to pursue my passion. I really enjoy flying, but my passion has always
            been in technology. At the completion of this program, I hope to be able to move into the technology field,
            either on a contracting basis, or as a full-time job.</p>

        <h3>Why SDGKU?</h3>

        <p>For all these reasons (and a few more), I decided to take the SDGKU FSDI program. I don't know if I'm going
            to make a career change in the Fall, but I do feel confident that, should I feel the need to do so, between
            my college background and my coding training from this program, I'll be successful in doing so.</p>

        <a href="/">
            <h2>Return to the Weather App</h2>
        </a>
    </main>


    <footer class="container">
        <hr class="solid">
        <p>Copyright &copy; 2021, Todd Mickel.</p>
    </footer>

</body>

</html>